DATABASE_URL="mysql://erm:ganti_password@localhost:3306/erm"
SEED_ADMIN_EMAIL="admin@contoh.co.id"
SEED_ADMIN_PASSWORD="ganti_min_10_karakter"
PORT=3001
DIR_UNGGAHAN="./unggahan"
SEED_NAMA_PERUSAHAAN="PT ABC"
